body {
   background-image: url(img/backgroundwhite.jpg);
   display: flex;
   justify-content: center;
   align-content: center;
}

.container {
   width: 900px;
   background-image: url(img/backgroundwhite.jpg);
   display: flex;
   flex-direction: column;
}

.nav-list {
   display: flex;
   font-size: 20px;
   padding-left: 0px;
   justify-content: flex-end;
   margin: 0 0 5px 0;
}

.nav-item {
   padding-right: 8px;
}

a {
   color: white;
   text-decoration: none;
}

.projects a {
   color: black;
}

.git__page {
   font-size: 30px;
}

.projects a:hover {
   color: firebrick;
}

a:hover {
   color: gray;
}

.footer a:hover {
   color: gray;
}

main {
   background: lightgray;
   background-color: #e5dfd3;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
   justify-content: center;
   width: 100%;
}

aside ul {
   list-style-type: none;
   text-align: left;
   margin-left: 0;
   padding-left: 0;
}

* ul {
   list-style-type: none;
}

header,
h1 {
   background-image: url(img/backgroundaside.png);
   width: 100%;
   color: aliceblue;
   font-size: 48px;
   text-shadow: 1px 1px 2px black, 0 0 1em rgb(37, 134, 238);
   text-align: center;
   margin: 0px;
   padding: 10px 0;
}

aside {
   float: left;
   background-image: url(img/backgroundaside.png);
   color: aliceblue;
}

article {
   background-color: rgb(78, 78, 78);
   float: left;
   margin-top: 120px;
   margin: 0;
   background-image: url(img/wnitebackgraund2.jpg);
}

.footer {
   text-align: center;
}

.footer a {
   color: black;
}

.footer__content {
   display: flex;
   justify-content: center;
}

.footer__picture {
   background: url(./img/logrsschool.jpg);
   background-size: cover;
   width: 174px;
   height: 66px;
}


p.italic {
   font-style: italic;
}

footer p {
   text-align: end;
}

p.bold {
   font-weight: 800px;
}

p {
   margin: 0;
   font-size: 16px;
   text-align: justify;
   text-indent: 1.5em;
}

.content {
   background: grafit;
   padding: 17px;
}

.projects {
   color: black;
}

aside .head {
   color: rgb(207, 204, 204);
}

article .content {
   background-image: url(img/wnitebackgraund2.jpg);
}

article h2 {
   padding-left: 10%;
   background-image: url(img/wnitebackgraund2.jpg);
   text-shadow: 1px 1px 2px black, 0 0 1em rgb(3, 3, 3);
   text-indent: 0em;
}

.brief {
   color: rgb(92, 92, 92);
   font-size: 25px;
   margin-bottom: 26px;
   text-align: right;
}

h2 {
   margin: 0;
   padding-left: 10px;
   background-color: rgb(15, 15, 15);
}

figure {
   margin: 0;
}

.log-img {
   width: 100px;
}

.iam-img {
   width: 300px;
}


@media (max-width: 585px) {
   h1 {
      font-size: 24px;
   }

   body {
      max-width: 585px;
   }

   .container {
      max-width: 300px;
   }

   main {
      display: flex;
      flex-direction: column;
      width: 100%;
   }

   header,
   h1 {
      width: 100%;
   }

   aside {
      width: 100%;
   }

   article {
      width: 100%;
   }

   footer {
      width: 100%;
   }
}

/*git commit -m "feat: added sections projects and courses with all content, modified style.css"*/